.info-container h1,
.redirect-container h1 {
  margin-bottom: 10px;
}

.info-container p {
  color: var(--fg-info);
  margin-bottom: 20px;
}

.redirect-container p {
  color: var(--fg-info);
}

.theme {
  position: relative;
  top: 92%;
  left: 96%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--bg-container);
  box-shadow: var(--shadow);
  cursor: pointer;
}